.login {
	background-color: var(--blue);
	color: var(--white);
}

.loginContainer {
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginContainer img {
	width: 360px;
	filter: invert(100%) saturate(2476%) hue-rotate(180deg) brightness(400%)
		contrast(119%);
}

.loginContainer section h1 {
	margin-top: 5rem;
	font-size: 2.25rem;
	font-weight: 600;
}

.loginDescription {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.loginDescription .icon {
	font-size: 3.25rem;
	color: var(--text-highlight);
	margin-right: 1rem;
}

.loginDescription p {
	width: 60%;
	color: var(--text-highlight);
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.9rem;
}

.loginContainer form {
	margin-top: 3rem;
	display: flex;
	align-items: stretch;
}

.loginContainer input {
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 1.4rem 1.25rem;
	color: var(--white);
	background: linear-gradient(90deg, var(--blue-dark) 5%, var(--blue) 100%);
}

.loginContainer button {
	border: none;
	border-radius: 0 5px 5px 0;
	background: var(--green);
	color: var(--white);
	padding: 0 1.25rem;
	transition: all 0.2s;
}

.loginContainer button svg {
	font-size: 2rem;
}

.loginContainer button:hover {
	filter: brightness(0.9);
}

.loginContainer button:disabled {
	cursor: not-allowed;
	filter: none;
	background: var(--blue-dark);
}

.loginContainer input::placeholder {
	color: var(--text-highlight);
}

@media (min-width: 720px) {
	.login {
		background-image: url('/logo-background.svg');
		background-repeat: no-repeat;
		background-position: left center;
	}

	.loginContainer {
		width: 90%;
		justify-content: flex-end;
	}
}

.loginError {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 1rem;
	font-size: 1rem;
	background: var(--alert);
	padding: 1rem;
	border: none;
	border-radius: 5px;
}

@media (min-width: 1500px) {
	.loginContainer {
		width: 50%;
	}
}
